@import "./style.scss";

body {
  background-color: #53258e;
  background-image: linear-gradient(62deg, #24103e 65%, #53258e 40%);
  font-family: "input-mono", monospace !important;
}

.myshadow {
  filter: drop-shadow(0 0 10px #24103e);
}

.cntctShadow {
  filter: drop-shadow(0 0 10px #53258e);
}

.hello {
  font-family: "blithe";
}

.lineHover {
  position: relative;
  display: inline-block;
}

.lineHover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff; /* Adjust to desired color */
  transition: width 0.3s ease-in-out;
  transform: translateY(-50%);
}

.lineHover:hover::after {
  width: 100%;
}

.myHeight {
  height: 85vh;
}

.about {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #53258e 0%, #e0c3fc 100%);
}

.arrow,
.linkHover:hover {
  color: #e0c3fc;
}

.glass {
  background: rgba(36, 16, 62, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(36, 16, 62, 0.3);
}

.navbar-toggler {
  color: $primary !important;
}
